.aboutUs-header{
  background: #cad6f1;
  border-radius: 20px;
}

.message-content{
  max-width: 600px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;           
}

.aboutUs-principle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 80px 20px;
  padding: 80px 0;
  background-color: #DAE7D8;
  border-radius: 20px;
}

.aboutUs-principle-content{
  display: flex;
  margin: 70px;
}
.principle-details{
  background-color: #ffffff;
  margin: 0 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.principle-details h3{
  padding: 10px;
}
.principle-details p{
  font-size: 14px;
  text-align: center;
}