.article-hero-section {
  background: #dae7d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px 40px 20px;
  border-radius: 20px;
  min-height: 50vh;
}
.blogs-section {
  flex:1;
  max-width: 1450px;
  width: 100%;
  padding: 60px;
  margin: 0px auto 60px auto;
}
.slick-slide {
  padding: 0 10px;
}
.blog-container {
  padding:15px;     
  box-sizing: border-box;
  min-height: 350px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  
}

.blog-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.blog-container p {
  font-size: 14px;
  color: #6b7280;
  margin: 10px 0;
}

.blog-container h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}

.blog-container button {
  border: none;
  background: none;
  margin-top: 10px;
  color: #254b45;
  cursor: pointer;
}

.blog-container button:hover {
  color: #254b45c0;
}

.slick-prev:before,
.slick-next:before {
  color: #254b45b2 !important;  
  font-size: 30px !important; 
  cursor: pointer;
  background: none !important; 
  border-radius: 0 !important;
  box-shadow: none !important;
}

.slick-prev:hover:before,
.slick-next:hover:before{
  color: #254b45c9 !important;  
}


/* detail page */
.blog-detail-page{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #DAE7D8;
  min-height: 600px;
  text-align: center;
  border-radius: 20px;
  margin: 20px;
}
.blog-detail-heading{
  padding: 90px 0;
}
.blog-detail-heading h1{
  font-size: 60px;
}

.blog-detail-img{
  position: absolute;
  top: 320px;
  width: 860px;
  height: 540px;
}
.blog-detail-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.about-blog{
  margin-top: 300px;
  margin-bottom: 60px;
}
.about-blog p {  
  line-height: 1.6;        /* spacing */
  font-size: 1rem;
  color: #333;
  text-align: justify;      /* ✅ centers the text */
  max-width: 600px;        /* optional: keeps text from being too wide */
  margin: 0 auto;          /* ✅ centers the block itself */
}
.recent-blog{
  text-align: center;
  margin-bottom: 30px;
}

.recent-blog .recent-blog-article{
  margin-top: -10px;
}