.header-howitworks {
  background: #fff4f1;
}
.header-howitworks .wellbeing-content {
  margin-left: 30px;
}
.header-howitworks .wellbeing-img {
  margin-right: 30px;
}

/* Steps for How It Works */
.steps-howitworks {
  padding: 90px;
}
.steps-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ebeef5;
  border-radius: 10px;
  margin: 30px;
  gap: 40px;
  padding: 40px;
}
.steps-wrapper.pink-color {
  background-color: #fff4f1;
}

.step-icon {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-icon img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 10px;
}

.step-box {
  padding: 0 50px;
  flex: 1;
}

.step-box span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #254b45;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 1;
}
.step-box h1 {
  line-height: 40px;
  padding: 20px 0;
}

.step-box p {
  padding-bottom: 20px;
}

/* Product page ......*/
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px;
  flex-wrap: wrap;
}

.product-header .hero-content {
  flex: 1;
  max-width: 40%;
}

.product-header .heroImage {
  flex: 1;
}

.product-header .heroImage img {
  width: 100%;
  max-width: 875px;
  height: auto;
  display: block;
}


/* Product section */
.product-section {
  padding: 100px;
}

.product-section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
  flex-wrap: wrap;
  gap: 20px;
}
.product-section-heading span {
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.search-product {
  padding: 10px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  flex-shrink: 0;
}

.product-section-heading button {
  width: 20px;
}

/* Products items */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.product-card {
  width: 100%;
}
/* detail page */
.product-cart-detail-btn {
  cursor: pointer;
}
.product-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f7f6;
  padding: 40px 30px;
  border-radius: 20px;
}
.product-img:hover {
  background-color: #e8e8e8;
}
.product-description {
  padding: 30px 20px;
  text-align: left;
}
.product-description h3 {
  height: 60px;
  line-height: 30px;
}
.product-description p {
  line-height: 30px;
  height: 100px;
}

.align-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  Add to cart button  */
.cart-btn {
  background: #254b45;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  border-radius: 20px;
  flex-wrap: wrap;
  flex: 1;
  width: 26.5vw;
}

.cart-btn:hover {
  box-shadow: 0 0 4px #254b45;
}

.cart-btn button{
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  flex: 1;
  cursor: pointer;
}

.quantity-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cart-btn .addToCart {
  width: 100%;
}


/* pagination..... */
.pagination-btn {
  margin-top: 30px;
  display: block;
  align-items: center;
  text-align: center;
}
.pagination-btn button {
  margin: 0 15px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.changeColor {
  background-color: #254b45;
  color: #fff;
}

/* Detail Product ........*/
.detail-page-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 80px;
}
.detail-page-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  width: 50vw;
  height: 100vh;
  border-radius: 20px;
}
.detail-page-img img {
  width: 60%;
}
.detail-page-content {
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 20px;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.detail-page-content h1 {
  line-height: 60px;
  font-size: 40px;
}
.detail-page-subheading ul {
  margin-left: 40px;
  margin-top: 10px;
}

.detail-page-feature {
  border-bottom: 1px solid #254b45;
  padding: 30px 0;
}

.dtPg-feature-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dtPg-feature-heading img {
  width: 25px;
}

.dtPg-feature-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.dtPg-feature-body.showFeature {
  max-height: 100px;
}



/* Medicine cart */
.order-page{
  padding: 50px 100px;
}
.order-page-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-page-heading h1{
  font-size: 40px;
  color: #3f3f3f;
}

.order-page-payment{
  display: flex;
  align-items: center;
  gap: 20px;
}

.order-page-payment button{
  background-color: #ffb93a;
  font-size: 16px;
  font-weight: 900;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  color: #254b45;
}
.order-page-payment button:hover{
  box-shadow: 0 0 5px#254b45;
}

.orderDetail{
  padding:0 20px;
}
.orderhistory{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex: 1;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 40px 0;
  padding: 20px 60px;
}
.order-description{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60vw;
}

.order-btn{
  display: flex;
  align-items: center;
  gap: 30px;
}
.order-delete-btn{
  cursor: pointer;
  opacity: 0.6;
  color: #254b45;
  border: 1px solid #254b45;
  padding: 6px 16px;
  border-radius: 20px;
}
.order-delete-btn button{
  font-size: 10px;
}
.order-delete-btn:hover{
  color: #fff;
  background-color: #ffb62e;
  border: none;
  opacity: 1;
}